@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');


// Fuentes

$mainFont: 'Roboto', sans-serif;

$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.3em;
$textXl: 2em;
$textXxl: 3em;
$textXxxl: 4em;