@mixin horarios ($fondo, $alto, $peso, $pad) {
    background-color: $fondo;
	width: 100%;
	height: $alto;
    font-weight: $peso;
	border-radius: 1%;
	font-size: $textMd;
	padding: $pad;
}

.box__horarios{
    @include horarios($grey, 40px, normal, 3%)
}

.nada {
    @include horarios($grey, 0px, bold, 0%)
}

.meditacion__destacado{
    @include horarios($beidgeClaro, 40px, bold, 3%)
}

.entrenamiento__destacado{
    @include horarios($lilaLight, 40px, normal, 3%)
}