// Vars
$lilaClaro: rgb(202, 130, 255);
$lilaOscuro: rgb(167, 96, 255);
$lilaLight: #c393ff;
$beidgeClaro: rgb(255, 218, 175);
$beidgeOscuro: rgb(255, 204, 143);
$black: rgb(19, 19, 19);
$black2: rgb(77, 77, 77);
$white: rgb(250, 250, 250);
$grey: rgb(215, 215, 215);